{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css_files %}
    <link rel="stylesheet" href="../styles/general.css" />
    {% endblock %}
    <title>
      {% block title %}
        Document
      {% endblock %}
    </title>
  </head>

  <body>
    <header>  
      {% block header %}
      {% endblock %}
    </header>    
    <main>
      {% block content %}{% endblock %}
    </main>  
    
    <footer>
      {% block footer %}{% endblock  %}
    </footer>
  </body>
</html>
