{% extends 'base.html' %}
{% load static %}
{% block title %}
    Chunkeet || A Website to split and convert CSV and JSON files
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href=" {% static 'styles/general.css' %}" />
<link rel="stylesheet" href=" {% static 'styles/index.css' %} " />
{% endblock  %}
    
    
  {% block header %}
  <div class="logo flex_c">
    <div class="logo__img flex_c">
      <img src="{% static 'Images/Ellipse 13.png' %}" class="blue" alt="logo icon" />
      <img src="{% static 'Images/Ellipse 14.png' %}" class="light" alt="logo icon" />
    </div>
    <p>Chun<span class="keet">keet</span></p>
  </div>
  <div class="desktop__navigations flex_c">
    <nav class="nav__bar">
      <ul class="flex_c">
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'aboutUs' %}">About Us</a></li>
        <li><a href="{% url 'FAQ' %}">FAQ</a></li>
      </ul>
    </nav>
    <div class="buttons flex_c">
      <a href="{% url 'signIn' %}" class="btn unfilled">Sign In</a>
      <a href="{% url 'signUp' %}" class="btn filled">Sign Up</a>
    </div>
  </div>
  <!-- <div class="mobile__navigations">
        <nav class="nav__bar">
            <ul>
                <li>Home</li>
                <li>Contact Us</li>
                <li>About Us</li>
            </ul>
        </nav>
        <div class="buttons">
            <a href="#" class="btn unfilled"></a >
            <a href="#" class="btn filled"></a >
        </div>
      </div> -->
  {% endblock header %}

{% block content %}
    <main class="container">
      <section class="hero flex_c">
        <div class="headings">
          <h1>The Easiest and Most Secure Tool for Splitting Your Files</h1>
          <p>Maximize your productivity with unlimited access to our tool</p>
          <div class="get_started">
            <a href="#" class="btn filled get-started"> Get Started</a>
          </div>
        </div>
        <div class="image"></div>
      </section>
      <section class="what flex_c">
        <div class="what__headings">
          <h2>What is Chunkeet</h2>
          <p>
            Chunkeet is a platform that accepts large CSV and JSON files and
            breaks them into smaller bits while maintaining the right format.
            The platform allows authenticated users, to upload their large
            files, chunk it into bits and download to their local device.
          </p>
          <div class="what__learn-more">
            <a href="{% url 'FAQ' %}" class="btn filled learn_more">Learn More</a>
          </div>
        </div>
        <div class="what__image"></div>
      </section>
      <section class="choose__us">
        <div class="choose__us-wrapper">
          <div class="choose__us-content">
            <h2>Why you should choose chunkeet</h2>
            <p>
              See all the special features Chunkeet brings to you, what makes us
              stand out from your regular Chunking website
            </p>
          </div>
          <div class="choose__us-boxes">
            <div class="box">
              <img src="{% static 'Images/owndashboard.png' %}" alt="dash icon" />
              <div class="box__content">
                <h3>Your Own Dashboard</h3>
                <p>
                  You get your very own aesthetically pleasing dashboard which
                  is user friendly and has everything you’ll need
                </p>
              </div>
            </div>
            <div class="box">
              <img src="{% static 'Images/enhanced_encryption.png' %}" alt="lock icon" />
              <div class="box__content">
                <h3>Save for Later</h3>
                <p>
                  When you’re done chunking you can always come back to your
                  files in future provided you have a chunkeet account.
                </p>
              </div>
            </div>
            <div class="box">
              <img src="{% static 'Images/not_interested.png' %}" alt="no ads icon" />
              <div class="box__content">
                <h3>No Ads</h3>
                <p>
                  Tired of Ads? Well, Chunkeet is completely free and devoid of
                  Ads. Our platform provides a clean experience
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="steps">
        <div class="steps__button flex_c">
          <button class="btn filled">Split CSV/JSON Files</button>
          <button class="btn grey">Convert JSON to CSV</button>
          <button class="btn grey">Convert CSV to JSON</button>
        </div>
        <div class="step">
          <ol class="step__list">
            <li>
              Tap on the “Register” button to get started on your account or Log
              in to continue.
            </li>
            <li>
              Select your files and upload it or drag and drop into the “Upload
              file box” on your dashboard.
            </li>
            <li>
              Choose the number of header lines you want your file to be
              splitted.
            </li>
            <li>Click on the “Split File” button.</li>
            <li>
              Once your file has been splitted, you can
              <span> “Download and Delete”</span> or
              <span>“Save for later”</span>.
            </li>
          </ol>
        </div>
      </section>
      <section class="services">
        <div class="services__wrapper">
          <div class="services__content">
            <h2>Our Services</h2>
            <p>
              Chunkeet offers the following services for free, all these and
              more
            </p>
          </div>
          <div class="service__boxes">
            <div class="services_box">
              <img
                src="{% static 'Images/horizontal_split.png' %}"
                alt="split icon"
                class="horin"
              />
              <h3>We Split</h3>
              <p>
                Splitting your CSV and JSON files has never been easier,
                everything is done straight from your dashboard
              </p>
            </div>
            <div class="services_box">
              <img
                src="{% static 'Images/lock_open.png' %}"
                alt="lock icon"
                class="lock_open"
              />
              <h3>Easy Access</h3>
              <p>
                Access to a log of your split and converted files. Easily
                accessiable and user friendly navigations
              </p>
            </div>
            <div class="services_box">
              <img
                src="{% static 'Images/privacy_tip.png' %}"
                alt="shield icon"
                class="shield"
              />
              <h3>Privacy guaranteed</h3>
              <p>
                Your data is collected and processed directly in your browser
                ensuring privacy, security, and file integrity.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="testimonials">
        <div class="testimonials__content">
          <h2>Testimonials</h2>
          <p>What our users say about Chunkeet</p>
        </div>
        <div class="testimonial_boxes">
          <div class="testimonial_box">
            <img src="{% static 'Images/quote.png' %}" alt="quote icon" />
            <p>
              Splitting my large files just became easier with chunkeet. I have
              been able to split my files into smaller usable chunks and i can
              download and access it, at a later time.
            </p>
            <div class="testimonial_profile">
              <img src="{% static 'Images/Adah.png' %}" alt="adah" />
              <div class="content_test">
                <h4>Adah Jonathan</h4>
                <small>Data Analyst</small>
              </div>
            </div>
          </div>
          <div class="testimonial_box">
            <img src="{% static 'Images/quote.png' %}" alt="quote icon" />
            <p>
              Your file privacy is guaranteed on chunkeet. Your can download
              your splitted file and erase it from the platform and not be
              bothered about who has accessed or not.
            </p>
            <div class="testimonial_profile">
              <img src="{% static 'Images/Ayo.png' %}" alt="Ayo icon" />
              <div class="content_test">
                <h4>Ayo Olowoshile</h4>
                <small>Software Engineer</small>
              </div>
            </div>
          </div>
          <div class="testimonial_box">
            <img src="{% static 'Images/quote.png' %}" alt="quote icon" />
            <p>
              With chunkeet i’m in control. I can choose the number of rows i
              want per file, i can check for my files on the dashboard and i can
              delete my files anytime.
            </p>
            <div class="testimonial_profile">
              <img src="{% static 'Images/Tobi.png' %}" alt="tobi icon" />
              <div class="content_test">
                <h4>Tobi Micheal</h4>
                <small>Programmer</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="file">
        <div class="file__wrapper">
          <h2>File Splitting Made Easier With Chunkeet</h2>
          <p>
            Split your large CSV/JSON file using just five easy steps. Split
            your large file now by just clicking the sign up button.
          </p>
          <div class="get_started neon">
            <a href="{% url 'signUp' %}" class="btn filled get-started"> Get Started</a>
          </div>
        </div>
      </section>
      <section class="cta">
        <h2>Join Our Newsletter</h2>
        <p>
          Subscribe to our newsletter to get up to date notifcations about
          software, updates and lots more
        </p>
        <form class="subscribe flex_c">
          <div class="form fullname">
            <input
              type="text"
              id="fullname"
              class="form__input"
              autocomplete="off"
              placeholder=" Your Full Name"
              required
            />
            <label for="fullname" class="form__label"></label>
          </div>
          <div class="form email">
            <input
              type="email"
              id="email"
              class="form__input"
              autocomplete="off"
              placeholder=" Enter your Email Address"
              required
            />
            <label for="email" class="form__label"></label>
          </div>
          <button type="submit" class="btn filled sub">Subscribe</button>
        </form>
      </section>
    </main>
{% endblock content %}
  
  {% block footer %}
    <div class="footer__wrapper">
      <div class="left">
        <div class="left__footer">
          <div class="footer__logo logo flex_c">
            <div class="logo__img">
              <img
                src="{% static 'Images/Ellipse 13.png' %}"
                class="blue"
                alt="logo icon"
              />
              <img
                src="{% static 'Images/Ellipse 14.png' %}"
                class="light"
                alt="logo icon"
              />
            </div>
            <p class="footer__chun">Chun<span class="keet">keet</span></p>
          </div>
          <p class="chunk">
            Chunkeet application we aim at accepting large file and breaking
            them into bits while maintaining the right format.
          </p>
        </div>
        <div class="socials">
          <ul>
            <li><img src="{% static 'Images/google-icon.png' %}" alt="google icon" /></li>
            <li>
              <img
                src="{% static 'Images/facebook-icon.png' %}"
                alt="facebook icon"
                class="facebook"
              />
            </li>
            <li>
              <img src="{% static 'Images/twitter-icon.png' %}" alt="twitter icon" />
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <h3>Useful Links</h3>
        <ul>
          <li>
            <img src="{% static 'Images/arrow.png' %}" alt="arrow icon" /><a href="#"
              >Home</a
            >
          </li>
          <li>
            <img src="{% static 'Images/arrow.png' %}" alt="arrow icon" /><a href="#"
              >About Us</a
            >
          </li>
          <li>
            <img src="{% static 'Images/arrow.png' %}" alt="arrow icon" /><a href="#"
              >Contact Us</a
            >
          </li>
          <li>
            <img src="{% static 'Images/arrow.png' %}" alt="arrow icon" /><a href="#"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">&COPY; Chunkeet</div>
  {% endblock footer %}