<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>File Split Sucess</title>
   <link rel="stylesheet" href="../styles/split.css">
</head>
<body class="flex_c">
   <main class="confirm">
   <h1>Your files has been split successfully!</h1>
   </div>
   <div class="button flex_c">
       <button type="submit" class="btn fill"><img src="../Images/cloud.png" alt="download icon"> Download and save file</button>
       <button type="submit" class="btn unfill"><img src="../Images/Vector.png" alt="cloud icon" /> Download, don't save</button>
       <div class="warning">
        <img src="../Images/orange.png" alt="warning icon">
        <small> Your files will be placed in temporary storage. All files in drafts will be deleted after 10 days.</small>
       </div>
   </div>
   <div class="refresh flex_c">
       <p>Split another file</p>
       <img src="../Images/refresher.png" alt="refresher icon">
    </div>
</div>
</main>
</body>
</html>