@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Sora', sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #03256c;
}

.container {
  flex-wrap: wrap;
  max-width: 100vw;
  width: 100vw;
}

.flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_form {
  flex: 0.45;
  background-color: #e6e9f0;
  min-height: 100vh;
}

.right_form {
  flex-direction: column;
  flex: 0.65;
}

form {
  padding: 6rem;
}

form h1 {
  margin-bottom: 3rem;
}

.form {
  position: relative;
  width: 30rem;
  height: 3rem;
  margin: 1rem 0;
}

.form__input {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #4d4d4d46;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.form__input:hover {
  border: 1px solid #4d4d4da4;
}

/* Change border when input focus*/

.form__input:focus {
  border: none;
  /* background-color: #fff; */
  outline: none;
}

.form__label {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  left: 0.4rem;
  top: 0.6rem;
  padding: 0 0.1rem;
  color: #4d4d4d;
  opacity: 0.6;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.65rem;
  font-size: 1rem;
  left: 0.8rem;
  /* padding: 0.3rem; */
  z-index: 10;
  background-color: transparent;
  color: #383838;
}

main .btn {
  background-color: #03256c;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  margin: 2rem 0;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign_btn {
  font-size: 1rem;
  flex-direction: column;
}

.sign_btn p {
  font-size: 1rem;
  text-align: center;
}

.sign_btn p a {
  padding-left: 0.3rem;
  font-weight: bold;
  color: #03256c;
}

small {
  color: #4d4d4d;
  opacity: 0.8;
}

strong {
  color: #03256c;
  font-size: 1rem;
}

@media screen and (max-width: 1180px) {
  .body {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 500px) {
  .a {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}
