main {
  max-width: 85vw;
  margin: 0 auto;
}
.main {
  flex-direction: column;
  margin-bottom: 9rem;
}

.contact__content {
  gap: 5rem;
}

.contact__title {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.contact__title h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact__title p {
  font-size: 1.25rem;
  word-spacing: 3px;
  font-weight: 400;
}

.form {
  position: relative;
  width: 23rem;
  height: 3rem;
  margin: 1rem 0;
}

.form__input {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #4d4d4d46;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.form__input:hover {
  border-color: #4d4d4da4;
}

/* Change border when input focus*/

.form__input:focus {
  border-color: none;
  background-color: #fff;
  outline: none;
}

.form__label {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  left: 0.4rem;
  top: 0.6rem;
  padding: 0 0.1rem;
  color: #4d4d4d;
  opacity: 0.6;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.85rem;
  font-size: 1rem;
  left: 0.8rem;
  padding: 0.3rem;
  z-index: 10;
  background-color: #fff;
  color: #383838;
}

textarea {
  width: 37.5rem;
  height: 17.5rem;
  border: 1px solid #989898;
}

textarea:focus {
  border: 1px solid #4d4d4d;
  outline: none;
}

textarea::placeholder {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  opacity: 0.7;
  padding: 0.5rem 0.2rem;
}

.contactContent {
  justify-content: space-between;
  gap: 3rem;
}

.formButton {
  align-self: flex-end;
}

.send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.meetContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  width: 45rem;
  margin: 0 auto 10rem;
  padding: 3.75rem 3.12rem 2.13rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #e5e5e5;
}

.meetIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 2.06rem;
  border-radius: 50%;
  background-color: #fff;
}

.meetUsLink {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

@media screen and (max-width:1180px){
  .main{
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}
@media screen and (max-width:500px){
  .contact__content{
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}