body {
  overflow: hidden;
}

.container {
  margin-top: 2rem;
}

.right {
  max-width: 70vw;
  margin: 0 auto;
  padding: 0;
}

.nothing__box {
  margin-top: 10rem;
}

a {
  color: #03256c;
  text-decoration: none;
}

.myimage {
  border: 1px solid #ddd; /* Gray border */
  padding: 3px; /* Some padding */
  width: 60px; /* Set a small width */
  height: 65px;
  border-radius: 50%;
}
