h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.contents {
  width: 81vw;
  margin: 0 auto;
}

.content {
  margin-bottom: 0.7rem;
}

.content h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.content p {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}
