<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/documentation.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/general.css') }}"
    />
    <script src="{{url_for('static', filename='javascripts/drop.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascripts/dark.js')}}" defer></script>

    <title>Documentation Page</title>
  </head>
  <body>
    <header>
      <div class="header_wrapper">
        <div class="logo flex_c">
          <div class="logo__img flex_c">
            <img src="{{ url_for('static', filename = 'Images/Ellipse 13.png') }}" alt="logo icon" />
            <img src="{{ url_for('static', filename = 'Images/Ellipse 14.png') }}" alt="logo icon" />
          </div>
          <p>
            Chun<span class="keet">keet</span>
          </p>
        </div>
        <div class="desktop__navigations flex_c">
          <nav class="nav__bar">
            <ul class="flex_c">
              <li>
                <a href="{{ url_for('main_bp.index') }}" >Home</a>
              </li>
              <li>
                <a href="{{ url_for('main_bp.contactUs') }}">Contact Us</a>
              </li>
              <li>
                <a href="{{ url_for('main_bp.aboutUs') }}">About Us</a>
              </li>
              <li>
                <a href="{{ url_for('main_bp.documentation') }}" class="active">Documentation</a>
              </li>
            </ul>
          </nav>
          <div class="toggle">
            <div class="dark_mode">
              <small>Dark</small>
              <img src="{{ url_for('static', filename = 'Images/dark-icon.png') }}" alt="dark icon" />
            </div>
            <div class="light_mode">
              <small>Light</small>
              <img src=" {{ url_for('static', filename = 'Images/light-Icon.png') }} " alt="light icon" />
            </div>
          </div>
          <div class="buttons flex_c">
            <a href="{{ url_for('auth_bp.login') }}" class="btn unfilled">Sign In</a>
            <a href="{{ url_for('auth_bp.signup') }}" class="btn filled">Sign Up</a>
          </div>
        </div>
      </div>
      <!--  <div class="mobile__navigations">
            <nav class="nav__bar">
                <ul>
                    <li>Home</li>
                    <li>Contact Us</li>
                    <li>About Us</li>
                </ul>
            </nav>
            <div class="buttons">
                <a href="#" class="btn unfilled"></a >
                <a href="#" class="btn filled"></a >
            </div>
          </div>  -->
    </header>
    <main class="container">
      <section class="left_side">
        <nav>
          <ul class="nav__items">
            <li class="nav__item">
              <a class="white" href="{{ url_for('main_bp.documentation') }}">Introduction</a>
            </li>
            <li class="nav__item">
              <a class="white" href="{{ url_for('main_bp.gettingStarted') }}">Getting Started</a>
            </li>
            <li class="nav__item">
              <a class="white" href="{{ url_for('main_bp.tools') }}">How the tools work</a>
            </li>
            <li class="nav__item active">
              <a class="white" href="{{ url_for('main_bp.faq') }}">FAQs</a>
            </li>
          </ul>
        </nav>
      </section>

      <section class="right_side">
        <h1>Frequently Asked Questions</h1>

        <div class="faqs">
          <div class="faq">
            <div class="liner">
              <h2>What is CSV?</h2>
              <img
              src="{{ url_for('static', filename='Images/faqr.png') }}"
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              A CSV file is information seperated using commas, It's a way to
              exchange structured information, like the contents of a
              spreadsheet. Due to its simplicity, CSV can be used by virtually
              anyone who examines data in spreadsheets and tables. We offer
              splitting and conversion of CSV files. This tool allows you to
              split large CSV files into smaller files based on your
              specicification.
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>What is JSON?</h2>
              <img
              src="{{ url_for('static', filename='Images/faqr.png') }}"
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              JSON is an open standard file format for sharing Data that uses
              human-readable text to store and transmit data. It is a general
              data format used with different applications, including web
              applications. It is a lightweight format for storing and
              transporting data. Web Developers use JSON to transmit data from
              the server to the web browser and from the web browser back to the
              server.
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>Why do I need to split CSV?</h2>
               <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              Some systems are limited in terms of the size of data they can
              process. In this case, it is then necessary to split the CSV/JSON
              files so that they are processed. In other cases, the limitation
              is at the level of the sending of the data (although a compressed
              CSV normally takes up little space, the text being easily
              compressed).
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>How do I split my CSV files?</h2>
               <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              To split your CSV file, follow these simple steps: Sign in to your
              dashboard (if you don't have an account, create one and Sign in)
              Uplaod the CSV file(s) to our servers for splitting Download or
              save your chunked files
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>How do I split my JSON files?</h2>
               <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              To split your JSON file, follow these simple steps: Sign in to
              your dashboard (if you don't have an account, create one and Sign
              in) Uplaod the JSON file(s) to our servers for splitting Download
              or save your chunked files
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>Are my files stored on the site?</h2>
              <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              Every user is given the option to have their chunked files stored
              on our servers. The storage of chunked files is not automatic and
              is at the choice of each user. Files not saved will be kept in the
              drafts on the dashboard for a very limited amount of time.
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>How long are files stored on the site?</h2>
              <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              Json (javascript object notation) is a simple text-based open
              standard file format and data interchange format that uses
              human-readable text to store and transmit data objects consisting
              of attribute-value pairs snd arrays (or other serializable
              values). it is common data format with diverse uses in electronic
              data interchange, including that of web applications with servers.
              JSON filenames use the extension .json. Files
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>Are my stored files secure?</h2>
               <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              Json (javascript object notation) is a simple text-based open
              standard file format and data interchange format that uses
              human-readable text to store and transmit data objects consisting
              of attribute-value pairs snd arrays (or other serializable
              values). it is common data format with diverse uses in electronic
              data interchange, including that of web applications with servers.
              JSON filenames use the extension .json. Files
            </p>
          </div>
          <div class="faq">
            <div class="liner">
              <h2>What is the maximum file upload size?</h2>
               <img
              src="{{ url_for('static', filename='Images/faqr.png') }} "
              alt="faq arrow"
            />
            </div>
            <p class="faq__para">
              Json (javascript object notation) is a simple text-based open
              standard file format and data interchange format that uses
              human-readable text to store and transmit data objects consisting
              of attribute-value pairs snd arrays (or other serializable
              values). it is common data format with diverse uses in electronic
              data interchange, including that of web applications with servers.
              JSON filenames use the extension .json. Files
            </p>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <footer>
      <div class="footer__wrapper">
        <div class="left">
          <div class="left__footer">
            <div class="footer__logo logo flex_c">
              <div class="logo__img">
                <img
                  src=" {{ url_for('static', filename='Images/Ellipse 13.png') }} "
                  class="blue"
                  alt="logo icon"
                />
                <img
                  src="{{ url_for('static', filename='Images/Ellipse 14.png') }} "
                  class="light"
                  alt="logo icon"
                />
              </div>
              <p class="footer__chun">Chun<span class="keet">keet</span></p>
            </div>
            <p class="chunk">
              Chunkeet application we aim at accepting large file and breaking
              them into bits while maintaining the right format.
            </p>
          </div>
          <div class="socials">
            <ul>
              <li>
                <img
                  src="{{ url_for('static', filename='Images/google-icon.png') }} "
                  alt="google icon"
                />
              </li>
              <li>
                <img
                  src="{{ url_for('static', filename='Images/facebook-icon.png') }}"
                  alt="facebook icon"
                  class="facebook"
                />
              </li>
              <li>
                <img
                  src="{{ url_for('static', filename='Images/twitter-icon.png') }}"
                  alt="twitter icon"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="right flex_c">
          <div class="useful__links">
            <h3>Useful Links</h3>
            <ul>
              <li>
              <img
                src="{{ url_for('static', filename='/Images/arrow.png') }}"
                alt="arrow icon"
              />
              <a href="{{ url_for('main_bp.index') }}">Home</a>
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='/Images/arrow.png') }}"
                alt="arrow icon"
              />
              <a href="{{ url_for('main_bp.aboutUs') }}">About Us</a>
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='/Images/arrow.png') }}"
                alt="arrow icon"
              />
              <a href="{{ url_for('main_bp.contactUs') }}">Contact Us</a>
            </li>
            </ul>
          </div>
          <div class="help">
            <h3>Help</h3>
            <ul>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.documentation') }}">Documentation</a>
              </li>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.faq') }}">FAQs</a>
              </li>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.terms') }}">Terms and Conditions</a>
              </li>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.policy') }}">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">&COPY; Chunkeet</div>
    </footer>
  </body>
</html>
