<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="{{ url_for('static',filename='styles/general.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/terms.css') }}"
    />
    <script src="{{url_for('static', filename='javascripts/dark.js')}}" defer></script>


    <title>Pricay Policy</title>
  </head>
  <body>
    <header>
      <div class="header_wrapper">
        <div class="logo flex_c">
          <div class="logo__img flex_c">
            <img src="{{ url_for('static', filename = 'Images/Ellipse 13.png') }}" class="blue" alt="logo icon" />
            <img src="{{ url_for('static', filename = 'Images/Ellipse 14.png') }}" class="light" alt="logo icon" />
          </div>
          <p>
            Chun<span class="keet">keet</span>
          </p>
        </div>
        <div class="desktop__navigations flex_c">
          <nav class="nav__bar">
            <ul class="flex_c">
              <li>
                <a href="{{ url_for('main_bp.index') }}" >Home</a>
              </li>
              <li>
                <a href="{{ url_for('main_bp.contactUs') }}">Contact Us</a>
              </li>
              <li>
                <a href="{{ url_for('main_bp.aboutUs') }}">About Us</a>
              </li>
              <li>
                <a href="{{ url_for('main_bp.documentation') }}">Documentation</a>
              </li>
            </ul>
          </nav>
          <div class="toggle">
            <div class="dark_mode">
              <small>Dark</small>
              <img src="{{ url_for('static', filename = 'Images/dark-icon.png') }}" alt="dark icon" />
            </div>
            <div class="light_mode">
              <small>Light</small>
              <img src=" {{ url_for('static', filename = 'Images/light-Icon.png') }} " alt="light icon" />
            </div>
          </div>
          <div class="buttons flex_c">
            <a href="{{ url_for('auth_bp.login') }}" class="btn unfilled">Sign In</a>
            <a href="{{ url_for('auth_bp.signup') }}" class="btn filled">Sign Up</a>
          </div>
        </div>
      </div>
      <!-- <div class="mobile__navigations">
            <nav class="nav__bar">
                <ul>
                    <li>Home</li>
                    <li>Contact Us</li>
                    <li>About Us</li>
                </ul>
            </nav>
            <div class="buttons">
                <a href="#" class="btn unfilled"></a >
                <a href="#" class="btn filled"></a >
            </div>
          </div> -->
    </header>
    <main class="container">
        <h1>Chunkeet Privacy Policy: Effective August 2022</h1>
        
        <div class="contents">
            <div class="content">
                <p>
                    Project Team 44_Chunk File  or “we”, the owner and operator of Chunkeet, a website ("Website") and related services that enables you to transform and convert CSV files, values your privacy. In this Privacy Policy (“Policy”), we describe the information that we collect from you as you use our website, www.chunkeet.com, and all services that we offer or make available through our sites or subsequent sites or applications (the “Services”).
                    By visiting the sites, you agree that your personal information will be handled as described in this Policy.</p>
                <h2> What Information Do We Collect About You?</h2>
                <p>We may collect information from you when you upload or complete a form, enter your mailing address. You may log into our Application through Facebook, Twitter, google or other social networking sites. If you log into the Application through other social networking sites, we will request permission to access your basic information, which includes your name, profile picture, gender, networks, user ID, list of friends, and any other information that you have made public on such social networking sites. For information about how such third party social networking sites may disclose your information, please consult the privacy policy of the third party social networking site. We have no control over how a third party social networking site uses or discloses the personal information you provide to it. We store the information that we receive from third party social networking sites along with other information that we collect from you or receive about you.<br>
                    We may use cookies, web beacons, and other automated devices to collect information about you when you use our Services, including: your browser type; web pages you view; links you click; your IP address; length of time you are on the site, websites visited before our Sites; mobile device ID; location and language information; device name and model; operating system type, name, and version; your interactions with the site. We may combine this information with personally identifiable information that we collect about you.</p><br>
                <h2>How Do We Use Your Information?</h2>
                <p>We use the information that we gather about you for the following purposes:
                    <br>To provide our Services to you, to communicate with you about your use of our Services and for other customer service purposes.<br>
                   
                    <br>To tailor the content and information that we may send or display to you, and to otherwise personalise your experiences while using the Sites, the Application or our Services.<br>
                   
                    <br>For research purposes.<br>
                   
                    <br>For marketing and advertising purposes. For example, we may use your information to display targeted advertisements to you on the Sites or the Application.<br>
                   
                    <br>We also may use your email address to email you news and newsletters, special offers, and promotions. We also may use the information that we learn about you to assist us in advertising our Services on third party websites.<br>
                   
                    <br>To better understand how users access and use our Sites and the Application, both on an aggregated and individualised basis.<br>
                   </p>

                <h2> How We Share the Information We Collect About You?</h2>
                <p>We may share information as described below: 

                   <br>Affiliates. We may disclose the information we collect from you to our affiliates or subsidiaries; however, if we do so, their use and disclosure of your personally identifiable information will be subject to this Policy.<br>
                    
                     <br>Vendors and Service Providers. We may share your personal information with vendors and service providers that we hire to perform services on our behalf, such as providing data storage, hosting websites, engaging in marketing activities and providing data analysis.<br>
                    
                    <br>To Protect Ourselves/For Legal Purposes. We may disclose your information to protect our rights and property, to prevent fraud and abuse, and to protect other users of our Services. We also may disclose your information as permitted or required by law, for example, in response to court orders, subpoenas, or other requests for information.<br>
                    
                    <br>Sale/Transfer of Business. If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have collected to the acquiring company.<br>
                    
                    <br>Third Party Links and Applications<br>

                    <br>At times, the Sites or the Application may contain links to, or be integrated with, other third party websites and applications. Any access to and use of such third party websites and applications is not governed by this Policy, but, instead, is governed by the privacy policies of those third party websites, and we are not responsible for the information practices of such third party websites.<br>
                    </p>

                <h2>How Secure Is Information About Me?</h2>
                <p>We have implemented commercially reasonable precautions, including, where appropriate, password protection, encryption and SSL to protect our Sites, the Application and the information we collect from loss, misuse, and unauthorised access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data security measures can guarantee 100% security all of the time.
                    <br>You should take steps to protect against unauthorised access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a password that nobody else knows or can easily guess and keeping your password private. Also, you should never share your log-in information with others. We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorised password activity.</p>

                <h2>Can I Access and Modify My Personal Information?</h2>
                <p>You may modify any account information that you have submitted, by logging into your account (as and when we develop an account system) and updating your information. Please note that copies of information that you have updated, modified or deleted may continue to reside in our systems for a period of time.</p>

                <h2>What Choices Do I Have?</h2>
                <p>If we send you any news and newsletters, special offers, promotions or other information we think may interest you, you may tell us to stop sending you such e-mail communications by following the opt-out instructions contained in any such e-mail. Please note that it may take up to 10 days for us to process opt-out and opt-in requests. Further, if you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you emails about your account or any Services you have requested or received from us.</p>

                <h2>How to Contact Us About Privacy</h2>
                <p>If you have questions about the privacy aspects of our services or would like to make a complaint, please contact us at: legal@chunkeet.com.</p>

                <h2>Changes to this Policy</h2>
                <p>We may change this Policy from time to time, so be sure to check back periodically. We will post any changes to our policy to our Sites, at [http://www.chunkeet.com/privacy.html, and to our Application(s). If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will provide you with notice of such change as is appropriate under the circumstances, such as by highlighting the change on the Sites and the Application or via email.</p>
    </main>
    <footer>
      <div class="footer__wrapper">
        <div class="left">
          <div class="left__footer">
            <div class="footer__logo logo flex_c">
              <div class="logo__img">
                <img
                  src=" {{ url_for('static', filename='Images/Ellipse 13.png') }} "
                  class="blue"
                  alt="logo icon"
                />
                <img
                  src="{{ url_for('static', filename='Images/Ellipse 14.png') }} "
                  class="light"
                  alt="logo icon"
                />
              </div>
              <p class="footer__chun">Chun<span class="keet">keet</span></p>
            </div>
            <p class="chunk">
              Chunkeet application we aim at accepting large file and breaking
              them into bits while maintaining the right format.
            </p>
          </div>
          <div class="socials">
            <ul>
              <li>
                <img
                  src="{{ url_for('static', filename='Images/google-icon.png') }} "
                  alt="google icon"
                />
              </li>
              <li>
                <img
                  src="{{ url_for('static', filename='Images/facebook-icon.png') }}"
                  alt="facebook icon"
                  class="facebook"
                />
              </li>
              <li>
                <img
                  src="{{ url_for('static', filename='Images/twitter-icon.png') }}"
                  alt="twitter icon"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="right flex_c">
          <div class="useful__links">
            <h3>Useful Links</h3>
            <ul>
              <li>
              <img
                src="{{ url_for('static', filename='/Images/arrow.png') }}"
                alt="arrow icon"
              />
              <a href="{{ url_for('main_bp.index') }}">Home</a>
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='/Images/arrow.png') }}"
                alt="arrow icon"
              />
              <a href="{{ url_for('main_bp.aboutUs') }}">About Us</a>
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='/Images/arrow.png') }}"
                alt="arrow icon"
              />
              <a href="{{ url_for('main_bp.contactUs') }}">Contact Us</a>
            </li>
            </ul>
          </div>
          <div class="help">
            <h3>Help</h3>
            <ul>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.documentation') }}">Documentation</a>
              </li>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.faq') }}">FAQs</a>
              </li>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.terms') }}">Terms and Conditions</a>
              </li>
              <li>
                <img src="{{ url_for('static', filename='/Images/arrow.png') }}" alt="arrow icon" />
                <a href="{{ url_for('main_bp.policy') }}">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">&COPY; Chunkeet</div>
    </footer>
  </body>
</html>
