@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Sora', sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

header {
  width: 85vw;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.logo p {
  color: #03256c;
  font-weight: bold;
  margin-left: 0.5rem;
}

.active {
  background-color: #e6e9f0;
}

.blue {
  position: relative;
  bottom: 1.5rem;
}

.keet {
  color: #06bee1;
}

.nav__bar ul {
  gap: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.desktop__navigations {
  justify-content: space-between;
  gap: 12rem;
}

.buttons {
  gap: 2.5rem;
}

.btn {
  background-color: #03256c;
  color: #fff;
  font-family: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.04);
}

.btn:active {
  transform: scale(0.96);
}

.unfilled {
  background-color: #fff;
  color: #03256c;
  border: 1px solid #03256c;
}

.active {
  background-color: transparent;
  color: #03256c;
  font-weight: bold;
}

.cta {
  text-align: center;
  margin: 7.5rem 0;
}

.cta h2 {
  margin: 1.5rem 0 1rem;
}

.sub {
  width: 15rem;
  padding: 0.6rem;
}

.subscribe {
  /* gap: 1rem; */
  margin-top: 2rem;
  justify-content: space-between;
}

.form__input {
  background-color: #d2d2d2;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #e5e5e5;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  /* width: 100%; */
}

#fullname {
  width: 15rem;
}

#email {
  width: 40rem;
}

.sub {
  width: 15rem;
  padding: 0.6rem;
}

.form__input:hover {
  border-color: black;
}

.form__input:focus {
  border-color: #4d4d4da4;
  background-color: #fff;
  outline: none;
}

footer {
  background-color: #02143b;
  padding: 3rem 0 0;
  margin-top: 7.5rem;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85vw;
  margin: 1.5rem auto;
}

.left {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  flex-direction: column;
  width: 30%;
}

.chunk {
  color: #fcfcfc;
  margin-top: 0.7rem;
}

.socials ul {
  display: flex;
}

.socials ul li {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-right: 2rem;
  padding: 0.7rem;
  border-radius: 50%;
}

.socials ul li img.facebook {
  padding: 0 0.3rem;
}

footer .logo {
  justify-content: flex-start;
}

footer .footer__chun {
  color: #d2d2d2;
}

.right h3 {
  color: #fcfcfc;
  margin-bottom: 2rem;
}

.right ul li {
  margin-bottom: 1.7em;
  transition: all 0.4s ease-in-out;
}

.right ul li:hover {
  transform: translateX(20px);
}

.right ul li a {
  color: #fcfcfc;
}

.right ul li img {
  margin-right: 0.6rem;
  transition: all 0.4s ease-in-out;
}

.right ul li img:hover {
  transform: rotate(180deg);
}

.copyright {
  text-align: center;
  color: #fcfcfc;
  background-color: #06bee1;
  padding: 1rem 0;
}

@media (max-width: 1265px) {

  
  header{
    max-width: 90vw;
  }

  a {
    font-size: 0.8rem;
  }

  #fullname {
    width: 10rem;
  }
  
  #email {
    width: 30rem;
  }
  
  .sub {
    width: 10rem;
    padding: 0.6rem;
  }
  

}

@media (max-width: 1151px) {
  .nav__bar ul {
    gap: 2.5rem;
  }

  .desktop__navigations {
    justify-content: space-around;
    gap: 5rem;
  }
}

@media (max-width: 1151px) {

  header{
    max-width: 95vw;
  }

  .nav__bar ul {
    gap: 1rem;
  }

  .desktop__navigations {
    justify-content: space-around;
    gap: 2rem;
  }

  
  a {
    font-size: 0.6rem;
  }
}

@media (max-width: 755px) {
  
  #fullname {
    width: 7.5rem;
  }
  
  #email {
    width: 20rem;
  }
  
  .sub {
    width: 7.5rem;
    padding: 0.6rem;
  }
  
}

@media (max-width: 734px) {
  .desktop__navigations {
    justify-content: space-around;
    gap: 1rem;
  }

}